name: Deploy App

on:
  push:
    branches:
      - dev
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VPS_SSH_KEY }}" | tr -d '\r' > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts

      - name: SSH into the server and deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            set -e  # Exit on error
            echo "Deploying from branch: $GITHUB_REF"
            if [ "${{ github.ref }}" == "refs/heads/main" ]; then
              echo "Deploying from main branch..."
              cd /home/VAULTIFY_NEW_BACKEND/  # Change to your backend directory
              git pull origin main  # Pull the latest code
              npm install  # Install dependencies
              npm run build  # Build the app (if required)
              pm2 restart vaultify-v2  # Restart PM2 app
            elif [ "${{ github.ref }}" == "refs/heads/dev" ]; then
              echo "Deploying from dev branch..."
              cd /home/VAULTIFY_NEW_BACKEND/  # Change to your backend directory
              git pull origin dev  # Pull the latest code from dev branch
              npm install  # Install dependencies
              npm run build  # Build the app (if required)
              pm2 restart vaultify-v2  # Restart PM2 app
            else
              echo "No deployment action for this branch."
            fi
